#Blog{
    /* background-color: rgb(123, 20, 213); */
    background: rgb(34,193,195);
    background: linear-gradient(105deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
#heading{
    border-bottom: 2px white solid;
    border-top: 2px white solid;
    width: 300px;
    margin-bottom: 20px;
}
#title{
    font-weight: 4000;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#about-blog{
    height: 470px;
    width: 370px;
    left: 51px;
    top: 329px;
    border-radius: 46px;
    background: #41E6A61A;
    /* background: #373B44; 
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  
    background: linear-gradient(to right, #4286f4, #373B44);  */
}
#about-blog-latest{
    height: 470px;
    width: 370px;
    left: 51px;
    top: 329px;
    border-radius: 46px;
    background: #11203899;
}
img{
    /* height: 224.91453552246094px; */
    width: 370px;
    left: 36.110107421875px;
    top: 0px;
    border-radius: 46px;
    margin-top: 0px;
}
#details{
    margin-left: 20px;
}
#date
{
    left: 2.28%;
    right: 44.32%;
    top: 49.57%;
    bottom: 45.64%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 28px;
    text-align: left;
    text-transform: capitalize;
    color: #41E6A6;
}   
#blog-title{
    left: 11.99%;
    right: 4.29%;
    top: 56.61%;
    bottom: 36.27%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 35px;
    text-decoration-line: underline;
    text-align: left;
    text-transform: capitalize;
    color: #FFFFFF;
    cursor: pointer;
} 
#author{
    left: 11.99%;
    right: 36.67%;
    top: 63.73%;
    bottom: 28.81%;
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    font-size: 19px;
    line-height: 35px;
    text-align: left;
    text-transform: capitalize;
    color: #FFFFFF;
}
#description{
    left: 11.99%;
    right: 7.46%;
    top: 72.37%;
    bottom: 0.62%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    text-transform: capitalize;
    color: #FFFFFF;
}
#blog-div{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 10px;
    justify-content: space-around;
}
#blog-latest{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 10px;
    justify-content: space-between;
    padding-bottom: 40px;
}
#latest-img{
    height: 169px;
    width: 249px;
    left: 634px;
    top: 265px;
    border-radius: 0px;
}
#latest-right{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 20px;
}
#date-latest{
    left: 54.43%;
    right: 25.83%;
    top: 25.97%;
    bottom: 71.16%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    text-transform: capitalize;
    color: #4941e6;
    margin-left: 10px;
    text-align: left;
}
#author-latest{
    left: 88.76%;
    right: -7.74%;
    top: 26.99%;
    bottom: 68.53%;
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 35px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: right;
    margin-right: 10px;
}
#title-latest{
    left: 59.79%;
    right: 9.26%;
    top: 29.23%;
    bottom: 66.5%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: left;
    margin-left: 10px;
}
#content-latest{
    left: 59.92%;
    right: 2.31%;
    top: 33.3%;
    bottom: 56.21%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: left;
    margin-left: 10px;
}
#full-latest{
    margin-left: 10px;
}
#hor-line{
    margin-top: 10px;
    width: 856px;
    height: 0px;
    left: 624px;
    top: 430px;
    border: 1px solid #FFFFFF;
}
#latest-blog-img{
    /* background-image: url('WhatsApp Image 2022-08-22 at 6.31.36 PM (1).jpeg'); */
    background-color: #41e6a7;
}
#our-blog-img{
    background-image: url('WhatsApp Image 2022-08-22 at 6.34.14 PM.jpeg');
    padding-bottom: 50px;
}