#img-head{
    background-image: url('WhatsApp Image 2022-08-21 at 9.31.21 PM.jpeg');
    width:100%;
    height: 283px;
    background-size:cover;
}
img{
    border-radius: 52px;
    padding-top: 20px;
}
#title{
    line-height: 120px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}
#content-1{
    line-height: 27px;
    text-align: center;
    text-transform: capitalize;
    color: #47515E;
    margin-left: 70px;
    margin-right:70px;
}
#content-2{
    display: grid;
    margin-top: 20px;
    grid-template-columns: auto auto;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    margin: 20px;
}
#content-3{
    height: 54px;
    left: 150px;
    top: 155px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    text-transform: capitalize;
    color: #000000;
    text-align: left;
    margin-left: 70px;
    margin-right:70px;
}
#content-4{
    left: 189px;
    top: 230px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 45px;
    text-transform: capitalize;
    color: #000000;
    text-align: left;
    margin-bottom: 50px;
    margin-left: 70px;
    margin-right:70px;
}
#right-side{
    position: fixed;
    z-index: 1;
    top: 300px;
    right: 10px;
    overflow-x: hidden;
}
#icons-right{
    margin-bottom: 10px;
}
#icons-main{
    margin: auto;
}
/* Mobile only */
@media only screen and (max-width: 767px) {
    #content-2{
        font-size: 15px;
        display: grid;
        grid-template-columns: auto;
    }
    #content-3{
        font-size: 23px;
    }
    #content-4{
        font-size: 15px;
    }
    img{
        height: 200px;
        width: 250px;
    }
}