* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --swiper-theme-color: #d9d9d9 !important;
  --swiper-navigation-size: 20px !important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background: #112038;
  color: #FFFFFF;
  overflow-x: hidden;
}

.background {
  background: url("../public/entire-bg.png");
}

.section-bg {
  background: url('../public/section-img.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wave {
  background: url("../public/bg.svg") repeat-x;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  transition: 0.35s ease;
}

.wave:nth-of-type(2) {
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  margin-block: 0.5em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #6361a7cc;
  border-radius: 10px;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: #6361a7cc transparent;
    scrollbar-width: thin;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -3200px;
  }
}

@keyframes swell {

  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }

  50% {
    transform: translate3d(0, 5px, 0);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;